html, body {
    width: auto;
    height: auto;
    background-color: rgb(17, 24, 39);
    display:flex;
    align-items: flex-start;
}

h1 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

p {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 1em;
}

